
<header class="p-4 mb-4">
  <div class="container-fluid">
      <div class="row">
        <div class="col-8">
            <a href="index.html" class="logo">
                <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" 
                alt="logo" title="logo">
            </a>
        </div>
        <div class="col-4">
           <input type="text" class="form-control">
        </div>
      </div>
  </div>
</header>
<div class="container-fluid mt-5">
  <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let movie of moviesArray">
          <app-movies [movieObj]="movie"></app-movies>
     </div>
  </div>
</div>


